:root {
    --bg-color: #fafafa;
    --bg-header: url("./images/bg-desktop-light.jpg");
    --light: #fff;
    --card-color: var(--light);
    --divider-color: #e3e4f1;
    --text: #494c6b;
    --footer-text: #9495a5;
    --cross-out-color: #d1d2da;
    /* define all the colors for light mode */
  }
  
  [data-theme="dark"] {
    --bg-color: #171823;
    --bg-header: url("./images/bg-desktop-dark.jpg");
    --light: #fff;
    --card-color: #25273d;
    --divider-color: #393a4b;
    --text: #c8cbe7;
    --footer-text: #5b5e7e;
    --cross-out-color: #4d5067;
    /* define all your colors for dark mode */
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--light);
    margin-bottom: 48px;
  }
  
  .todo-container {
    top: 90px;
    right: 0;
    left: 0;
    position: absolute;
    width: 540px;
    margin: auto;
  }
  
  body {
    background: var(--bg-color);
  }
  
  #todo-header {
    background: var(--bg-header);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
  }
  
  .row {
    display: flex;
    gap: 24px;
    background: var(--card-color);
    padding: 23px;
    border-radius: 5px;
    color: var(--text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
    justify-content: space-between;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  #todo-lists {
    margin-top: 24px;
    cursor: pointer;
  }
  
  .divider {
    border-bottom: 1px solid var(--divider-color);
  }
  
  .footer-row {
    display: flex;
    justify-content: space-between;
    background: var(--card-color);
    padding: 23px;
    border-radius: 5px;
    color: var(--footer-text);
    font-family: Josefin Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.194px;
    cursor: pointer;
  }
  
  .views {
    display: flex;
    gap: 10px;
    font-weight: 700;
  }
  
  #input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
  }
  
  .cross-out {
    color: var(--cross-out-color);
    text-decoration: line-through;
  }
  
  .cross {
    display: none;
  }
  
  .active {
    color: #3a7cfd;
  }
  
  .over {
    background-color: var(--card-color);
  }
  
  .info-text {
      margin-top: 20px;
    color: #5b5e7e;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.194px;
  }
  
  @media screen and (max-width: 600px) {
    .todo-container {
      width: 90%;
    }
  }
  
  /* .cross-position{
      display: none;
      justify-content: end;
  } */
  /* .cbox{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid #E3E4F1;
  }
  .cbox:checked{
      background-color: #E3E4F1;
  } */
  
  /* .todo-app{
      width: 100%;
      max-width: 540px;
      background: var(--bg-color);
      margin: 100px auto 20px;
      padding: 40px 30px 70px;
      border-radius: 10px;
      
  }
  .todo-app h2{
      color: #002765;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }
  #input{
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      padding: 10px;
  }
  
  .add{
      border: none;
      outline: none;
      padding: 16px 50px;
      border-radius: 40px;
      background:linear-gradient(135deg, #7b4397, #dc2430) ;
      color:#fff;
      font-size: 16px;
      cursor: pointer;
  
  
  }
  .add :hover{
      background-color: cornflowerblue;
  }
  
  ol li{
      color: #ffffff;
      padding: auto;
  }
  .row{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #edeef0;
      border-radius: 30px;
      padding-left: 20px;
      margin-bottom: 25px;
      margin-left: 5px;
      margin-right: 5px;
  
  }
  ul li{
      list-style: none;
      font-size: 16px;
      padding: 12px 8px 12px 50px;
      user-select: none;
      cursor: pointer;
      color: #edeef0;
      position: relative;
  }
  ul li::before{
      content: "";
      position: absolute;
      height:2px;
      width: 28px;
      border-radius: 50px;
      background-image: url(images/icons8-check-50.png);
      background-size: cover;
      background-position: center;
      top: 12px;
      left: 8px;
  }
  ul li.checked{
      color: #555;
      text-decoration: line-through;
  }
  ul li.checked::before{
      background-image: url(images/icons8-check.gif);
  }
  
   */